# Quartus generated outputs
db/
output_files/
incremental_db/
*.rpt
*.summary
*.smsg

# Quartus user/session files
*.qws
*.qws.settings
*.sopcinfo
*.qpf.bak
*.qsf.bak

# ModelSim/Questa generated outputs
work/
simulation/work/
*.wlf
transcript
simulation/transcript
simulation/cache_coherence.cr.mti

# Backup/temp files
*.bak
*.jou
*.log

# Latex generated outputs
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Optional report CAD artifacts
report/CacheHierarchy/